<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<html lang="en">

<header>
        <h1 ><span><p style="text-align: right;"><img style="width: 30%;" src="./static/img/logo.png" alt="My Image"></p></span></h1>
</header>
		</div><!-- /container -->
		<script src="static/js/classie.js"></script>
		<script src="static/js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>

{% endblock %}