<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<html lang="en">


{% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul>
           <div class="successAlert">
			  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			  {{messages[0]}}
			</div>
        </ul>
     {% endif %}
{% endwith %}

<header>
        <h1 ><span><p style="text-align: right;"><img style="width: 30%;" src="./static/img/logo.png" alt="My Image"></p></span></h1>
</header>
<textarea rows="3" cols="62">
If you wanna play a match but you don't have an opponent team.. It's your place!
</textarea>
		</div><!-- /container -->
		<script src="static/js/classie.js"></script>
		<script src="static/js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>

{% endblock %}
