{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if(session['username']) %}


{% if error %}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{error}}
</div>
{% endif %}

{% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul>
           <div class="successAlert">
			  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			  {{messages[0]}}
			</div>
        </ul>
     {% endif %}
{% endwith %}

<div style="text-align: right;">
    <form action="" method="POST">
        <input type="text" name="appointment_name" class="form-control" value={{request.form.appointment_name}}>
        <select name="team_home">
        {% for team in teams %}
            {% if team[1] != "FindMeATeam" %}
            <option value={{team[1]}}>{{team[1]}}</option>
            {% endif %}
        {% endfor %}
        </select>
        <select name="team_away">
        {% for team in teams %}
            <option value={{team[1]}}>{{team[1]}}</option>
        {% endfor %}
        </select>
        <select name="stadium_name">
        {% for stadium in stadiums %}
            <option value='{{stadium[1]}}'>{{stadium[1]}}</option>
        {% endfor %}
        </select>
        <input type="time" name="start_time">
        <input type="time" name="end_time">
        <input type="date" name="match_date">
        <br>
        <button type="submit"> Create Match </button>
    </form>
</div>
{% endif %}
<table id="players" class="heavyTable">
    <tr>
        <th>Appointment Name</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Stadium Name</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Delete</th>
    </tr>
    {% if matchs %}
        {% for match in matchs %}
                <tr>
                        <td><h1>{{match[1]}}</h1></td>
                        <td><h1>{{match[2]}}</h1></td>
                        {% if match[3] == 'FindMeATeam' %}
                        {% if session['username'] %}
                        <td><h1><form action="{{url_for('edit_matches')}}" name="join_to_match" method="POST">
                                                                                    <input id="user_name" name="user_name" type="hidden" value="{{session['username']}}">
                                                                                    <input id="match_id" name="match_id" type="hidden" value="{{match[0]}}">
                                                                                    <button type="submit"> Join! </button>
                                                                                   </form>
                        </h1></td>
                        {% else %}
                        <td><h1>Login!</h1></td>
                        {% endif %}
                        {% else %}
                        <td><h1> {{match[3]}}</h1></td>
                        {% endif %}
                        <td><h1> {{match[4]}}</h1></td>
                        <td><h1> {{match[7]}}</h1></td>
                        <td><h1> {{match[5]}}</h1></td>
                        <td><h1> {{match[6]}}</h1></td>
                        {% if session['username'] %}
                        <td><h1><form action="{{url_for('delete_matches')}}" name="delete_match" method="POST">
                                                                                    <input id="delete_match" name="delete_match" type="hidden" value="{{match[1]}}">
                                                                                    <button type="submit"> X </button>
                                                                                   </form>
                        </h1></td>
                        {% else %}
                        <td><h1>Login!</h1></td>
                        {% endif %}
                </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock %}
