{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if(session['username']) %}
<div style="text-align: right;">
    <form action="" method="POST">
        <input type="text" name="appointment_name" class="form-control" value={{request.form.appointment_name}}>
        <select name="team_home">
        {% for team in teams %}
            <option value={{team[1]}}>{{team[1]}}</option>
        {% endfor %}
        </select>
        <select name="team_away">
        {% for team in teams %}
            <option value={{team[1]}}>{{team[1]}}</option>
        {% endfor %}
        </select>
        <select name="stadium_name">
        {% for stadium in stadiums %}
            <option value='{{stadium[1]}}'>{{stadium[1]}}</option>
        {% endfor %}
        </select>
        <input type="time" name="start_time">
        <input type="time" name="end_time">
        <br>
        <button type="submit"> Create Match </button>
    </form>
</div>
{% endif %}
<table>
    <tr>
        <th>Appointment Name</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Start Time</th>
        <th>End Time</th> 
    </tr>
</table>
{% endblock %}
