{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<script>$('.heavyTable').heavyTable({
          xPosition: 2,
          yPosition: 2
})</script>

<table id="players" class="heavyTable">
  <thead>
      <tr>
        <th>Player</th>
        <th>Team</th>
        <th>Age</th>
        <!---<th>Rating</th>--->
      </tr>
    </thead>
      <tbody>

{% if players %}
{% for player in players %}
        <tr>
                <td><h1>{{player[3]}}</h1></td>
                <td><h1>{{player[7]}}</h1></td>
                <td><h1>{{player[5]}}</h1></td>
                <!---<td><h1><span><p style="color:green; text-align: right;"></p></span></h1></td>--->
        </tr>
{% endfor %}
{% endif %}
  </tbody>

</table>

{% endblock %}
