{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}


{% if error %}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{error}}
</div>
{% endif %}

<form method="POST" action="">
    <div class="form-group w-50">
        <label class="bg-dark w-50 rounded text-white"><b>Username:</b></label>
        <input type="text" name="username" class="form-control" value={{request.form.username}}>
      </div>
    <div class="form-group w-50">
        <label class="bg-dark w-50 rounded text-white"><b>Password:</b></label>
        <input type="password" name="password" class="form-control" value={{request.form.password}}>
    </div>
    <div class="form-group w-50">
        <label class="bg-dark w-50 rounded text-white"><b>Confirm Password:</b></label>
        <input type="password" name="confirm-password" class="form-control">
    </div>
    <div class="form-group w-50">
      <label class="bg-dark w-50 rounded text-white"><b>Email:</b></label>
      <input type="text" name="email" class="form-control">
  </div>
    <p style="text-align: center;" ><input type="submit" class="btn btn-primary" value="Register"></p>
  </form>


{% endblock %}