{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}


{% if error %}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{error}}
</div>
{% endif %}

{% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul>
           <div class="successAlert">
			  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			  {{messages[0]}}
			</div>
        </ul>
     {% endif %}
{% endwith %}

<table id="players">
  <tr>
    <th>Stadium Name</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
{% if stadiums %}
{% for stadium in stadiums %}
          <tr>
                <td><h1><span><p style="color:green; text-align: right;">{{stadium[1]}}</p></span></h1></td>
                <td><h1><span><p style="color:green; text-align: right;">
                <form action="{{ url_for('delete_stadiums') }}" method="POST">
                  <input id="stadium" name="stadium_name" type="hidden" value="{{stadium[1]}}">
                  <button type="submit"> Delete </button>
                </form>
                </p></span></h1></td>
                <td><h1><span><p style="color:green; text-align: right;">
                <form action="{{ url_for('update_stadiums') }}" method="POST">
                    <input id="stadium" name="new_stadium_name" value="{{request.form.new_stadium_name}}">
                    <input id="stadium" name="old_stadium_name" type="hidden" value="{{stadium[1]}}">
                    <br><button type="submit">Update</button>
                </form>
                </p></span></h1></td>
        </tr>
{% endfor %}

{% endif %}
<tr>
<div style="text-align: right;">
<form action="{{ url_for('stadiums') }}" method="POST">
  <input type="text" name="stadium_name" class="form-control" value={{request.form.stadium_name}}>
  <button type="submit"> Create Stadium </button>
</form>
</div>
</tr>
</table>
{% endblock %}