{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<table id="players">
  <tr>
    <th>Team</th>
    <th>Rating</th>
    <th>Details</th>
  </tr>
{% if teams %}
{% for team2 in teams %}
        <tr>
                <td><h1><span><p style="color:green; text-align: right;">{{team2[1]}}</p></span></h1></td>
                <td><h1><span><p style="color:green; text-align: right;">{{team2[2]}}</p></span></h1></td>
                <td><h1><span><p style="color:green; text-align: right;">
                <form action="{{ url_for('team') }}" method="POST">
                  <input id="team_id" name="team_id" type="hidden" value="{{team2[0]}}">
                  <button type="submit"> Info </button>
                </form>
                </p></span></h1></td>
        </tr>
{% endfor %}

{% endif %}
</table>

{% endblock %}