{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<table id="players">
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th>Age</th>
  </tr>
{% if infos %}
{% for info in infos %}
        <tr>
                <td><h1><span><p style="color:green; text-align: right;">{{info[0]}}</p></span></h1></td>
                <td><h1><span><p style="color:green; text-align: right;">{{info[1]}}</p></span></h1></td>
                <td><h1><span><p style="color:green; text-align: right;">{{info[2]}}</p></span></h1></td>
        </tr>
{% endfor %}

{% endif %}
</table>

{% endblock %}